In [82]:
import os
import pandas as pd

In [83]:
CURR_FOLDER_PATH = os.getcwd()
BASE_PATH = os.path.dirname(os.path.dirname(CURR_FOLDER_PATH))
DATA_PATH = os.path.join(BASE_PATH, 'Lulus/data')

In [84]:
df = pd.read_excel(DATA_PATH + '/datahariandansubtitusi.xlsx')

In [85]:
df.head()

,Tanggal,Bawang Putih,Bawang Putih Ukuran Sedang,Cabai Merah,Cabai Merah Besar,Cabai Merah Keriting,Cabai Rawit,Cabai Rawit Hijau,Cabai Rawit Merah
0,01/ 01/ 2018,-,-,-,-,-,-,-,-
1,02/ 01/ 2018,"24,450","24,450","38,950","41,400","36,450","40,450","33,900","47,050"
2,03/ 01/ 2018,"24,650","24,650","39,050","41,850","36,250","42,250","36,050","48,400"
3,04/ 01/ 2018,"24,500","24,500","38,050","40,200","35,900","42,500","36,600","48,400"
4,05/ 01/ 2018,"24,400","24,400","37,450","39,200","35,650","42,700","37,150","48,200"

In [86]:
df.columns

Index(['Tanggal', 'Bawang Putih', 'Bawang Putih Ukuran Sedang', 'Cabai Merah',
       'Cabai Merah Besar', 'Cabai Merah Keriting', 'Cabai Rawit',
       'Cabai Rawit Hijau', 'Cabai Rawit Merah'],
      dtype='object')

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1565 entries, 0 to 1564
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Tanggal                     1565 non-null   object
 1   Bawang Putih                1565 non-null   object
 2   Bawang Putih Ukuran Sedang  1565 non-null   object
 3   Cabai Merah                 1565 non-null   object
 4   Cabai Merah Besar           1565 non-null   object
 5   Cabai Merah Keriting        1565 non-null   object
 6   Cabai Rawit                 1565 non-null   object
 7   Cabai Rawit Hijau           1565 non-null   object
 8   Cabai Rawit Merah           1565 non-null   object
dtypes: object(9)
memory usage: 110.2+ KB

In [88]:
df=df.rename(columns={'Bawang Putih': 'Harga Bawang Putih','Cabai Merah': 'Harga Cabai Merah', 'Cabai Rawit':"Harga Cabai Rawit"})

In [89]:
df=df[['Tanggal','Harga Bawang Putih','Harga Cabai Merah','Harga Cabai Rawit']]

In [90]:
df['Tanggal'] = pd.to_datetime(df['Tanggal'])

In [91]:
df.replace('-', '', inplace=True)

In [92]:
df.isnull().sum()

Tanggal               0
Harga Bawang Putih    0
Harga Cabai Merah     0
Harga Cabai Rawit     0
dtype: int64